body {
  background-color: black;
  color: white;
  font-family: "Jua";
  text-align: center;
  margin: 0;
}

#title {
  background-color: #0abab5;
  margin: 0;
  padding: 20px 0;
}

.rgbDisplay {
  font-size: 2em;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.navbar {
  background-color: white;
  color: black;
  height: 30px;
  margin: 0;
  padding-top: 10px;
}

#result {
  display: inline-block;
  width: 20%;
}

.square {
  width: 30%;
  background-color: purple;
  margin: 1.6%;
  padding-bottom: 30%;
  float: left;
  border-radius: 50%;
  transition: 0.5s;
}

.white {
  background-color: white;
  border: 2px dashed pink;
}

.selected {
  border: 2px solid #0abab5;
  border-radius: 25%;
}

.rgbDisplay {
  text-transform: uppercase;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  font-family: "Jua";
  font-weight: 700;
  color: #0abab5;
  font-size: inherit;
  letter-spacing: 1px;
  transition: 0.2s;
}

button:hover {
  color: white;
  background-color: #0abab5;
}