body {
  background-color: black;
  color: white;
  text-align: center;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.navbar {
  background-color: white;
  color: black;
  height: 30px;
  margin: 2px;
  padding-top: 10px;
}

.square {
  width: 30%;
  background-color: purple;
  margin: 1.6%;
  padding-bottom: 30%;
  float: left;
}

.white {
  background-color: white;
  border: 2px dashed pink;
}

.selected {
  border: 1px solid lightblue;
}