<!-- <style>
  body {
    color: pink
  }
</style> -->
<% include partials/header  %>
<h1>This this post page</h1>

<% for (var i = 0; i < posts.length; i++) { %>

  <li><%= posts[i].title %> - <%= posts[i].name %></li>

<% } %>

<% posts.forEach(post => { %>
  <li><%= post.title %> - <%= post.name %></li>
<% }) %>

<% include partials/footer  %>