<% include partials/header.ejs%>

<div class="container">
  <h1>This is home page</h1>
  <% blogs.forEach(blog => { %>
    <div>
      <h2><%= blog.title%></h2>
      <img src="<%= blog.image%>">
      <div>
        <span><%= blog.created%></span>
        <p><%= blog.blog %></p>
      </div>
    </div>
  <% }) %>
</div>

<% include partials/footer.ejs%>
