<% include partials/header %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome to YelpCamp</h1>
      <p>View the best campgrounds in the world</p>
      <p>
        <a class="btn btn-lg btn-primary" href="/campgroundnew">Add New Campground</a>
      </p>
    </div>
  </header>

  <div class="row">
    <% campground.forEach(item => { %>
      <div class="col-md-3 col-sm-6">
        <div class="thubmnail">
          <img src="<%= item.image %>">
          <div class="caption">
            <h4><%=  item.name %></h4>
          </div>
        </div>
      </div>
    <% }) %>
  </div>


</div>

<% include partials/footer %>