<% include partials/header %>

<div class="container">
  <h1>Something went wrong...</h1>
  <div class="caption-full">
    <h4><%= error.name %></h4>
    <p><%= error.message %></p>
  </div>
  <button onclick="window.history.back()" class="btn btn-lg btn-secondary btn-block">Go Back</button>
</div>


<% include partials/footer %>