<% include partials/header %>

<div class="container">
  <h1>Something went wrong...</h1>
  <div class="caption-full">
    <h4><%= error.name %></h4>
    <p><%= error.message %></p>
  </div>
  <p><a href="/">Go Back to Home Page</a></p>
</div>


<% include partials/footer %>