<% include partials/header %>

<div class="container">
  <header class="jumbotron">
      <h1>Welcome to YelpCamp</h1>
      <p>Explore the best campgrounds in the world</p>
      <p>
        <a href="/campground/new">
          <button class="btn btn-outline-info">
            Add New Campground
          </button>
        </a>
      </p>
  </header>

  <div class="row text-center">
    <% campground.forEach(item => { %>
      <div class="col-lg-4 col-sm-6">
        <a href="/campground/<%= item._id %>">
          <img src="<%= item.image %>" class="img-thumbnail">
        </a>
        <div class="caption">
          <h4><%=  item.name %></h4>
        </div>
      </div>
    <% }) %>
  </div>


</div>

<% include partials/footer %>
