<% include partials/header %>

<h1>Sign Up here</h1>
<form action="/signup" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button>Sign Up</button>
</form>

<p>Already have an account? <a href="/login">Log In here!</a></p>
<% include partials/footer %>