<% include partials/header %>

<h1 class="text-center">Sign Up here</h1>
<div class="container">
  <div class="row">
    <div style="width: 30%; margin: 30px auto;">
      <form action="/signup" method="post">
        <div class="form-group">
          <input class="form-control" pattern=".{6,12}" title="Username must be 6 to 12 characters" type="text" name="username" placeholder="username" required>
        </div>
        <div class="form-group">
          <input class="form-control" pattern=".{5,10}" title="Password must be 5 to 10 characters" type="password" name="password" placeholder="password" required>
        </div>
        <div class="form-group">
          <input class="form-control" title="Invitation Code is the code admin sent to you." type="text" name="invitationCode" placeholder="invitation code" required>
        </div>
        <button class="btn btn-lg btn-success btn-block">Sign Up</button>
      </form>
    </div>
  </div>
  <p class="text-center">Already have an account? <a href="/login">Log In here!</a></p>
</div>

<% include partials/footer %>