<% include partials/header %>

<div class="container container-camp">
  <h1><%=  campground.name %></h1>
  <img src="<%= campground.image %>">
  <br><br>
  <p><%=  campground.description %></p>
  <p><%=  campground.comments %></p>
</div>

<% include partials/footer %>